<div class="input-group">
    <select name="{{controlId}}" class="form-control" ng-model="selected" ng-options="item.ID as item.{{modelProperty}} for item in items | orderBy: '{{modelProperty}}'" ng-required="{{requiredAttribute == true}}"></select>
    <span class="input-group-btn">
        <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" ng-show="{{allowAddNew}}" ng-click="addNew()"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
</div>
