<div ng-enter="vm.BaseSaveModalItem('Category')" class="category-modal">
    <form name="vm.form" ng-submit="vm.BaseSaveModalItem('Category')" novalidate>
        <div class="modal-header">
            <button class="close" type="button" aria-label="Close" ng-click="vm.CloseModal()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h1 class="modal-title"><span translate="CATEGORY.SINGULAR"></span></h1>            
        </div>
        <div class="modal-body">
            <div role="form">
                <uib-tabset>
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <span translate="MAINDATA"></span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" ng-class="{'has-error': vm.form.txtName.$invalid && vm.submitted}">
                                    <label for="txtName"><span translate="NAME"></span></label>
                                    <!--<div class="col-md-10">-->
                                        <input type="text" name="txtName" id="txtName" ng-model="vm.item.Name" class="form-control" required autofocus />
                                        <div class="error" ng-show="vm.form.txtName.$invalid && vm.submitted"><span translate="VALIDATION.REQUIRED"></span></div>
                                    <!--</div>-->
                                </div>
                                <div class="form-group">
                                    <label for="cmbParentCategory"><span translate="CATEGORY.PARENT"></span></label>
                                    <!--<div class="col-md-10">-->
                                        <drop-down-control control-id="cmbParentCategory" selected="vm.item.ParentCategoryID"
                                                           model-name="category" get-name="get" model-property="Name"
                                                           required="false" allow-add-new="true" type="2">
                                        </drop-down-control>
                                    <!--</div>-->
                                </div>
                                <div class="form-group background-gray padding-05">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="txtImageUrl"><span translate="IMAGEURL"></span></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="icon" ng-src="{{vm.item.ImageUrl != null ? vm.apiUrl + 'images/' + vm.item.ImageUrl : ''}}" />
                                        </div>
                                        <div class="col-md-6">
                                            <div id="btnBrowse" class="btn btn-default btn-upload pull-right" upload-button url="{{vm.apiUrl}}api/Common/Upload" on-success="vm.UploadButtonOnSuccess(response)" on-upload="vm.UploadButtonOnUpload(files)" on-error="vm.UploadButtonOnError(response)"><span translate="BROWSE"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" ng-class="{'has-error': vm.form.txtUrl.$invalid && vm.submitted}">
                                    <label for="txtUrl"><span translate="URL"></span></label>
                                    <input type="text" name="txtUrl" id="txtUrl" ng-model="vm.item.Url" class="form-control" required />
                                    <div class="error" ng-show="vm.form.txtUrl.$invalid && vm.submitted"><span translate="VALIDATION.REQUIRED"></span></div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': vm.form.txtSortIndex.$invalid && vm.submitted}">
                                    <label for="txtSortIndex"><span translate="SORTINDEX"></span></label>
                                    <input type="number" name="txtSortIndex" id="txtSortIndex" ng-model="vm.item.SortIndex" class="form-control" min="0" max="999" required />
                                    <div class="error" ng-show="vm.form.txtSortIndex.$invalid && vm.submitted"><span translate="VALIDATION.REQUIRED"></span></div>
                                </div>
                                <div class="form-group">
                                    <label for="cmbSlider"><span translate="SLIDER"></span></label>
                                    <drop-down-control control-id="cmbSlider" selected="vm.item.Slider"
                                                       model-name="slider" get-name="get" model-property="Name"
                                                       required="false" allow-add-new="true">
                                    </drop-down-control>
                                </div>
                                <div class="form-group">
                                    <label for="cmbCategoryBanner"><span translate="CATEGORYBANNER"></span></label>
                                    <drop-down-control control-id="cmbCategoryBanner" selected="vm.item.CategoryBanner"
                                                       model-name="categoryBanner" get-name="get" model-property="Name"
                                                       required="false" allow-add-new="true">
                                    </drop-down-control>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group background-gray padding-05">
                                    <label for="chkActive"><span translate="ACTIVE.A"></span></label>
                                    <span switch id="chkActive" name="chkActive" ng-model="vm.item.is_active" class="blue" ng-init="vm.item.is_active = true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error': vm.form.txtDescription.$invalid && vm.submitted}">
                                    <label for="txtDescription"><span translate="DESCRIPTION"></span></label>
                                    <div ckeditor="vm.ckeditorOptions" id="txtDescription" name="txtDescription" class="form-control" ng-model="vm.item.Description" style="height:100px"></div>
                                    <div class="error" ng-show="vm.form.txtDescription.$invalid && vm.submitted"><span translate="VALIDATION.REQUIRED"></span></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <span translate="PROMOTION"></span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="chkShowOnHomePage"><span translate="SHOWONHOMEPAGE"></span></label>
                                    <span switch id="chkShowOnHomePage" name="chkShowOnHomePage" ng-model="vm.item.ShowOnFirstPage" class="blue"></span>
                                </div>
                                <div class="form-group">
                                    <label for="txtHomePageProductsCount"><span translate="HOMEPAGEPRODUCTSCOUNT"></span></label>
                                    <input type="number" id="txtHomePageProductsCount" name="txtHomePageProductsCount" class="form-control" ng-model="vm.item.FirstPageProductsCount" ng-disabled="!vm.item.ShowOnFirstPage" />
                                </div>
                                <div class="form-group">
                                    <label for="txtHomePageSortIndex"><span translate="HOMEPAGESORTINDEX"></span></label>
                                    <input type="number" id="txtHomePageSortIndex" name="txtHomePageSortIndex" class="form-control" ng-model="vm.item.FirstPageSortIndex" ng-disabled="!vm.item.ShowOnFirstPage" />
                                </div>
                                <div class="form-group">
                                    <label for="cmbHomePageOrderBy"><span translate="HOMEPAGEORDERBY"></span></label>
                                    <select id="cmbHomePageOrderBy" name="cmbHomePageOrderBy" class="form-control" ng-model="vm.item.FirstPageOrderBy" ng-disabled="!vm.item.ShowOnFirstPage">
                                        <option value="Price">Price</option>
                                        <option value="New">New</option>
                                        <option value="Random">Random</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading>
                            <span translate="ATTRIBUTE.PLURAL"></span>
                        </uib-tab-heading>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <button id="btnAddAttribute" type="button" class="btn btn-default" ng-click="vm.ShowModal('app/components/attribute/views/attributeModal.view.html', 'DefaultModalController', 'md', {ID: -1, modalType: 2}, vm.AddAttribute)"><span class="fa fa-fw fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-1">
                            <div class="col-md-12">
                                <scrollable-table watch="vm.item.Attributes">
                                    <table class="table table-hover table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th><span translate="NAME"></span></th>
                                                <th style="width:5em"><span>Filter</span></th>
                                                <th style="width:5em" colspan="3"><span>Description</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="attribute in vm.item.Attributes">
                                                <td><span ng-bind="attribute.Name"></span></td>
                                                <td style="width:5em" class="text-center"><span class="fa fa-fw fa-check-circle item-icon" ng-show="attribute.IsFilter"></span></td>
                                                <td style="width:5em" class="text-center"><span class="fa fa-fw fa-check-circle item-icon" ng-model="attribute.IsDescription"></span></td>
                                                <td style="width:10px"><span class="fa fa-fw fa-pencil item-icon"></span></td>
                                                <td style="width:10px"><span class="fa fa-fw fa-trash item-icon"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"><span translate="ACTION.SAVE.BUTTON"></span></button>
            <button class="btn btn-default" type="button" ng-click="vm.CloseModal()"><span translate="ACTION.CLOSE"></span></button>
        </div>
    </form>
</div>
