<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span translate="USER.PLURAL"></span></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="btn-group">
            <button id="btnAdd" ng-click="vm.Add()" ng-show="vm.roleID==1 || vm.roleID==2" class="btn btn-default" uib-tooltip="{{'USER.NEW' | translate}}" tooltip-append-to-body="true"><span class="glyphicon glyphicon-file toolbar-icon"></span></button>
            <button id="btnSortByID" ng-click="vm.sort('ID', '')" class="btn btn-default" uib-tooltip="{{'SORT.NAME' | translate}} {{'SORT.ADD' | translate}}" tooltip-append-to-body="true"><span class="glyphicon glyphicon-sort toolbar-icon"></span></button>
            <!--<button id="btnHelp" class="btn btn-default" uib-tooltip="{{'HELP' | translate}}" tooltip-append-to-body="true" ng-click="vm.showHelp = !vm.showHelp"><span class="glyphicon glyphicon-question-sign toolbar-icon"></span></button>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 pull-right margin-bottom-05 margin-top-2">
        <div class="input-group input-append pull-right" id="divSearch">
            <input type="text" id="txtSearch" class="form-control" ng-model="search" placeholder="{{'SEARCH' | translate}}" />
            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="search=''"><span class="glyphicon glyphicon-remove toolbar-icon"></span></button></span>
        </div>
    </div>
</div>
<div class="row sortText">
    <div class="col-lg-12">
        <span>{{'SORT.NAME' | translate}}: <strong>{{(vm.sortName == '' ? 'SORT.ADD' : vm.sortName) | translate}}, {{(vm.reverse ? 'SORT.DESC' : 'SORT.ASC') | translate}}</strong></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover table-condensed table-striped">
            <tr>
                <th style="width:3em;display:none" ng-click="vm.sort('id', '')">Id<span class="glyphicon sort-icon" ng-show="vm.sortKey=='id'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th ng-click="vm.sort('Email', 'EMAIL.SORT')"><span translate="EMAIL.SINGULAR"></span><span class="glyphicon sort-icon" ng-show="vm.sortKey=='Email'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th ng-click="vm.sort('FirstName', 'NAME.SORTF')"><span translate="NAME.FIRST"></span><span class="glyphicon sort-icon" ng-show="vm.sortKey=='FirstName'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th ng-click="vm.sort('LastName', 'NAME.SORTL')"><span translate="NAME.LAST"></span><span class="glyphicon sort-icon" ng-show="vm.sortKey=='LastName'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th style="width:7em" ng-click="vm.sort('UserRole', 'USER.SORTR')"><span translate="USER.ROLE"></span><span class="glyphicon sort-icon" ng-show="vm.sortKey=='UserRole'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th ng-click="vm.sort('IsActive', 'ACTIVE.SORT')"><span translate="ACTIVE.SINGULAR"></span><span class="glyphicon sort-icon" ng-show="vm.sortKey=='IsActive'" ng-class="{'glyphicon-chevron-up': vm.reverse, 'glyphicon-chevron-down': !vm.reverse}"></span></th>
                <th style="width:2em"></th>
                <th style="width:2em"></th>
            </tr>
            <tr dir-paginate="Item in vm.items | orderBy: vm.sortKey:vm.reverse | filter: search | itemsPerPage: vm.pageSize" ng-model="commonContextMenu">
                <td style="display:none">{{Item.ID}}</td>
                <td>{{Item.Email}}</td>
                <td>{{Item.FirstName}}</td>
                <td>{{Item.LastName}}</td>
                <td>{{Item.UserRole.Description}}</td>
                <td><span class="glyphicon glyphicon-ok icon" ng-show="Item.IsActive "></span></td>
                <td><span class="glyphicon glyphicon-pencil icon" ng-click="vm.SelectChange(Item)" uib-tooltip="Izmena" tooltip-append-to-body="true" ng-show="vm.roleID==1 || vm.roleID==2"></span></td>
                <td><span class="glyphicon glyphicon-remove icon" ng-click="vm.Delete(Item, Item.FirstName +' ' +Item.LastName)" uib-tooltip="Brisanje" tooltip-append-to-body="true" ng-show="vm.roleID == 1 || vm.roleID==2"></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="col-lg-6">
        <div class="row margin-bottom-05">
            <div class="col-lg-6 pull-right text-right pagination" id="divPageSize">
                <span class=""><span translate="PERPAGE"></span></span>
                <div class="btn-group">
                    <input type="button" class="btn btn-default" value="10" ng-click="vm.SetPageSize(10)" ng-class="{'btn-primary': vm.pageSize == 10}" />
                    <input type="button" class="btn btn-default" value="20" ng-click="vm.SetPageSize(20)" ng-class="{'btn-primary': vm.pageSize == 20}" />
                    <input type="button" class="btn btn-default" value="50" ng-click="vm.SetPageSize(50)" ng-class="{'btn-primary': vm.pageSize == 50}" />
                    <input type="button" class="btn btn-default" value="100" ng-click="vm.SetPageSize(100)" ng-class="{'btn-primary': vm.pageSize == 100}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="vm.root + 'app/components/authentication/views/userModal.view.html'"></div>
<div ng-include="vm.root + 'app/components/authentication/views/userModalChange.view.html'"></div>