<div class="input-group">
    <select name="{{controlId}}" class="form-control" ng-model="selected" ng-options="item.{{modelProperty}} for item in items | orderBy: '{{modelProperty}}' track by item.ID" ng-required="{{requiredAttribute == 'true'}}"></select>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-default" ng-show={{allowAddNew}} ng-click="addNew()"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
</div>
