<div class="row page-content">
    <form name="vm.form" ng-submit="vm.BaseSaveItem('Configuration')">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h1><span translate="CONFIGURATION.PLURAL"></span></h1>
                </div>
            </div>
            <div class="row margin-top-1">
                <div class="col-lg-12">
                    <div class="btn-group">
                        <button id="btnSave" class="btn btn-primary" ng-click="vm.BaseSaveItem('Configuration')"><span class="fa fa-fw fa-floppy-o"></span><span translate="ACTION.SAVE.BUTTON"></span></button>
                    </div>
                </div>
            </div>
            <div class="row margin-top-1">
                <div class="col-lg-12">

                    <uib-tabset>
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.BASIC"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtCompanyName"><span translate="CONFIGURATION.COMPANYNAME"></span></label>
                                        <input type="text" id="txtCompanyName" name="txtCompanyName" class="form-control" ng-model="vm.item.CompanyName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtImageUrl"><span translate="IMAGEURL"></span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img ng-src="{{vm.item.WebShopLogoUrl != null ? vm.apiUrl + 'images/' + vm.item.WebShopLogoUrl : ''}}" />
                                            </div>
                                            <div class="col-md-6">
                                                <div id="btnBrowse" class="btn btn-default btn-upload pull-right" upload-button url="{{vm.apiUrl}}api/Common/Upload" on-success="vm.UploadButtonSuccess(response)"><span translate="BROWSE"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cmbLanguage"><span translate="LANGUAGE.SINGULAR"></span></label>
                                        <drop-down-control control-id="cmbLanguage" selected="vm.item.DefaultLanguage"
                                                           model-name="language" get-name="get" model-property="Name"
                                                           required="true" allow-add-new="false">
                                        </drop-down-control>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtWebShopUrl"><span translate="CONFIGURATION.WEBSHOPURL"></span></label>
                                        <input type="text" id="txtWebShopUrl" name="txtWebShopUrl" class="form-control" ng-model="vm.item.WebShopUrl" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebShopLoginUrl"><span translate="CONFIGURATION.WEBSHOPLOGINURL"></span></label>
                                        <input type="text" id="txtWebShopLoginUrl" name="txtWebShopLoginUrl" class="form-control" ng-model="vm.item.WebShopLoginUrl" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebShopAdminUrl"><span translate="CONFIGURATION.WEBSHOPADMINURL"></span></label>
                                        <input type="text" id="txtWebShopAdminUrl" name="txtWebShopAdminUrl" class="form-control" ng-model="vm.item.WebShopAdminUrl" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.EMAILS"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtInfoEmail"><span translate="CONFIGURATION.INFOEMAIL.SINGULAR"></span></label>
                                        <input type="text" id="txtInfoEmail" name="txtInfoEmail" class="form-control" ng-model="vm.item.InfoEmail" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtInfoEmailPassword"><span translate="CONFIGURATION.INFOEMAIL.PASSWORD"></span></label>
                                        <input type="text" id="txtInfoEmailPassword" name="txtInfoEmailPassword" class="form-control" ng-model="vm.item.InfoEmailPassword" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOrderEmail"><span translate="CONFIGURATION.ORDEREMAIL.SINGULAR"></span></label>
                                        <input type="text" id="txtOrderEmail" name="txtOrderEmail" class="form-control" ng-model="vm.item.OrderEmail" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOrderEmailPassword"><span translate="CONFIGURATION.ORDEREMAIL.PASSWORD"></span></label>
                                        <input type="text" id="txtOrderEmailPassword" name="txtOrderEmailPassword" class="form-control" ng-model="vm.item.OrderEmailPassword" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtErrorEmail"><span translate="CONFIGURATION.ERROREMAIL.SINGULAR"></span></label>
                                        <input type="text" id="txtErrorEmail" name="txtErrorEmail" class="form-control" ng-model="vm.item.ErrorEmail" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtErrorEmailPassword"><span translate="CONFIGURATION.ERROREMAIL.PASSWORD"></span></label>
                                        <input type="text" id="txtErrorEmailPassword" name="txtErrorEmailPassword" class="form-control" ng-model="vm.item.ErrorEmailPassword" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtSmtp"><span>Smtp</span></label>
                                        <input type="text" id="txtSmtp" name="txtSmtp" class="form-control" ng-model="vm.item.Smtp" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSmptPort"><span>Smtp port</span></label>
                                        <input type="text" id="txtSmtpPort" name="txtSmtpPort" class="form-control" ng-model="vm.item.SmtpPort" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkSmtpSsl"><span>Smtp SSL</span></label>
                                        <input type="checkbox" id="chkSmtpSsl" name="chkSmtpSsl" class="checkbox" ng-model="vm.item.SmtpSsl" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkErrorSmtp"><span translate="CONFIGURATION.ERRORSMTP.SINGULAR"></span></label>
                                        <input type="text" id="txtErrorSmtp" name="txtErrorSmtp" class="form-control" ng-model="vm.item.ErrorSmtp" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtErrorSmtpPort"><span translate="CONFIGURATION.ERRORSMTP.PORT"></span></label>
                                        <input type="text" id="txtErrorSmtpPort" name="txtErrorSmtpPort" class="form-control" ng-model="vm.item.ErrorSmtpPort" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkErrorSmtpSsl"><span translate="CONFIGURATION.ERRORSMTP.SSL"></span></label>
                                        <input type="checkbox" id="chkErrorSmtpSsl" name="chkErrorSmtpSSl" class="checkbox" ng-model="vm.item.ErrorSmtpSsl" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.IMAGES"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtCategoryImageWidth"><span translate="CATEGORY.IMAGE.DIMENSION"></span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" id="txtCategoryImageWidth" name="txtCategoryImageWidth" class="form-control" ng-model="vm.item.CategoryImageWidth" />
                                            </div>
                                            <div class="col-md-6">
                                                <!--<label for="txtCategoryImageHeight"><span translate="CATEGORY.IMAGE.HEIGHT"></span></label>-->
                                                <input type="text" id="txtCategoryImageHeight" name="txtCategoryImageHeight" class="form-control" ng-model="vm.item.CategoryImageHeight" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMainName"><span translate="PRODUCT.IMAGES.MAIN-NAME"></span></label>
                                        <input type="text" id="txtMainName" name="txtMainName" class="form-control" ng-model="vm.item.MainName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMainImageWidth"><span translate="PRODUCT.IMAGES.MAIN-IMAGE-DIMENSION"></span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" id="txtMainImageWidth" name="txtMainImageWidth" class="form-control" ng-model="vm.item.MainWidth" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtMainImageHeight" name="txtMainImageHeight" class="form-control" ng-model="vm.item.MainHeight" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtListName"><span translate="PRODUCT.IMAGES.LIST-NAME"></span></label>
                                        <input type="text" id="txtListName" name="txtListName" class="form-control" ng-model="vm.item.ListName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtListImageWidth"><span translate="PRODUCT.IMAGES.LIST-IMAGE-DIMENSION"></span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" id="txtListImageWidth" name="txtListImageWidth" class="form-control" ng-model="vm.item.ListWidth" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtListImageHeight" name="txtListImageHeight" class="form-control" ng-model="vm.item.ListHeight" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtThumbName"><span translate="PRODUCT.IMAGES.THUMB-NAME"></span></label>
                                        <input type="text" id="txtThumbName" name="txtThumbName" class="form-control" ng-model="vm.item.ThumbName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtThumbImageWidth"><span translate="PRODUCT.IMAGES.THUMB-IMAGE-DIMENSION"></span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" id="txtThumbImageWidth" name="txtThumbImageWidth" class="form-control" ng-model="vm.item.ThumbWidth" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtThumbImageHeight" name="txtThumbImageHeight" class="form-control" ng-model="vm.item.ThumbHeight" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="3">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.PRODUCTS"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="chkShowIfNotInStock"><span translate="PRODUCT.SHOWIFNOTINSTOCK"></span></label>
                                        <input type="checkbox" id="chkShowIfNotInStock" name="chkShowIfNotInStock" class="checkbox" ng-model="vm.item.ShowIfNotInStock" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkLeadingZerosCode"><span translate="PRODUCT.LEADINGZEROSCODE"></span></label>
                                        <input type="checkbox" id="chkLeadingZerosCode" name="chkLeadingZerosCode" class="checkbox" ng-model="vm.item.LeadingZerosCode" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkLeadingZerosBarcode"><span translate="PRODUCT.LEADINGZEROSBARCODE"></span></label>
                                        <input type="checkbox" id="chkLeadingZerosBarcode" name="chkLeadingZerosBarcode" class="checkbox" ng-model="vm.item.LeadingZerosBarcode" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkFullProductUrl"><span translate="PRODUCT.FULLURL"></span></label>
                                        <input type="checkbox" id="chkFullProductUrl" name="chkFullProductUrl" class="checkbox" ng-model="vm.item.FullProductUrl" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkProductInMultipleCategories"><span translate="PRODUCT.MULTIPLECATEGORIES"></span></label>
                                        <input type="checkbox" id="chkProductInMultipleCategories" name="chkProductInMultipleCategories" class="checkbox" ng-model="vm.item.ProductInMultipleCategories" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkIncludeSubcategories"><span translate="PRODUCT.INCLUDESUBCATEGORIES"></span></label>
                                        <input type="checkbox" id="chkIncludeSubcategories" name="chkIncludeSubcategories" class="checkbox" ng-model="vm.item.IncludeSubcategoriesInProductList" /> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtDefaultDescription"><span translate="PRODUCT.DEFAULTDESCRIPTION"></span></label>
                                        <textarea id="txtDefaultDescription" name="txtDefaultDescription" class="form-control" ng-model="vm.item.ProductDefaultDescription"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="chkUpdateProductFromExternalApplication"><span translate="PRODUCT.UPDATEFROMEXTERNALAPPLICATION"></span></label>
                                        <input type="checkbox" id="chkUpdateProductFromExternalAppliacation" name="chkUpdateProductFromExternalApplication" class="checkbox" ng-model="vm.item.UpdateProductFromExternalApplication" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkExportProducts"><span translate="PRODUCT.EXPORTPRODUCTS"></span></label>
                                        <input type="checkbox" id="chkExportProducts" name="chkExportProducts" class="checkbox" ng-model="vm.item.ExportProducts" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="4">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.DISCOUNT"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="chkUserDiscountVisible"><span translate="DISCOUNT.USERDISCOUNTVISIBLE"></span></label>
                                        <input type="checkbox" id="chkUserDiscountVisible" name="chkUserDiscountVisible" class="checkbox" ng-model="vm.item.UserDiscountVisible" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkOrderDiscountVisible"><span translate="DISCOUNT.ORDERDISCOUNTVISIBLE"></span></label>
                                        <input type="checkbox" id="chkOrderDiscountVisible" name="chkOrderDiscountVisible" class="checkbox" ng-model="vm.item.OrderDiscountVisible" />
                                    </div>
                                    <div class="form-group">
                                        <label for="chkUserDiscountOnlyOnProductNotOnPromotion"><span translate="DISCOUNT.ONLYONNOTONPROMOTION"></span></label>
                                        <input type="checkbox" id="chkUserDiscountOnlyOnProductNotOnPromotion" name="chkUserDiscountOnlyOnProductNotOnPromotion" class="checkbox" ng-model="vm.item.UserDiscountOnlyOnProductNotOnPromotion" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="5">
                            <uib-tab-heading>
                                <span translate="CONFIGURATION.DELIVERY"></span>
                            </uib-tab-heading>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtDeliveryCost"><span translate="DELIVERY.COST"></span></label>
                                        <input type="text" id="txtDeliveryCost" name="txtDeliveryCost" class="form-control" ng-model="vm.item.DeliveryCost" />
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFreeDeliveryTotalValue"><span translate="DELIVERY.FREEDELIVERYVALUE"></span></label>
                                        <input type="text" id="txtFreeDeliveryTotalValue" name="txtFreeDeliveryTotalValue" class="form-control" ng-model="vm.item.FreeDeliveryTotalValue" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </form>
</div>
